
a:link, a:visited, a:hover {
    color: white;
}

#nivelInitial {
    padding-top: 50px;
}

div.monitoreo {
    margin-top: 45px;
    font-size: 24px;
    color: #0868b2;
}

div.semana {
    font-size: 22px;
    color: #0868b2;
}

#nivelInitial>table {
    border: 1px solid gray;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

.table {
    margin:0;
}

th {
    text-align: center;
    background-color: #053770;
    color: #fff;
}

th, td {
    overflow: hidden;
}

i.icon-monitoreo {
    width: 33px;
    height: 33px;
    background: url("../assets/icono_monitoreo.png");
}

i.icon-semana {
    width: 32px;
    height: 32px;
    background: url("../assets/icono_semana.png");
}

.colorRojo{
    color: #fff;
    background-color: red;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding:5px 12px;
}

.colorAmarillo{
    color: #fff;
    background-color: #F7A332;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding:5px 12px;
}

.colorVerde{
    color: #fff;
    background-color: #8EB503;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding:5px 12px;
}

tbody.data-head{
    background-color: #568AC3;
    color: white;
}

tbody.data-subhead{
    background-color: lightgray;
    color: gray;
}

tbody.data, tbody.data-new, .btnMas{
    cursor: pointer;
}

tr.nivel4{
    background-color: #9B75CC;
    color: white;
}

tr.nivel4.secondColor{
    background-color: #8B66B6;
    color: white;
}

tr.nivel3{
    background-color: #8EB503;
    color: white;
}

tr.nivel3.secondColor{
    background-color: #AACA1E;
    color: white;
}

tr.nivel2{
    background-color: #7E75B0;
    color: white;
}

tr.nivel2.secondColor{
    background-color: #60579a;
    color: white;
}

tr.nivel1{
    background-color: #F9B642;
    color: white;
}

tr.nivel1.secondColor{
    background-color: #F7A332;
    color: white;
}

tr.nivel0{
    background-color: #7E75B0;
    color: white;
}

tr.nivel0.secondColor{
    background-color: #60579A;
    color: white;
}

/* Loading */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Modal Loading */
#modal-wait div.modal-content{
    background-color: #8eb503;
    color: white;
}