            <table class="table table-bordered margin-bottom-30" style="table-layout: fixed;">
                <thead class="text-lead">
                    <tr>
                        <th width="8" class="code" style="border-top-left-radius: 8px;">Código</th>
                        <th width="10">Nombre</th>

                        <th width="10">Venta Recibida</th>
                        <th width="8">Pedidos</th>
                        <th width="8">Orden Promedio</th>

                        <th width="10">Total Asociadas</th>
                        <th width="10">Asociadas Activas</th>
                        <th width="8">% Actividad</th>
                        <th width="8">Asociadas nuevas</th>

                        <th width="10">Saldo vencido</th>
                        <th width="10" style="border-top-right-radius: 8px;">Estatus pedido</th>
                    </tr>
                </thead>

                <tbody class="data-subhead">
                    {{#each header}}
                        <tr data-key="{{Code}}" data-nivelhijos="0" class="nivel1">
                            <td align="center">{{Code}}</td>
                            <td align="left">{{Nombre}}</td>

                            <td align="right">{{Venta}}</td>
                            <td align="right">{{Pedidos}}</td>
                            <td align="right">{{OrdenPromedio}}</td>

                            <td>{{SaldoTotal}}</td>
                            <td align="right">{{Activas}}</td>
                            <td align="center"><span>{{PctActividad}}</span></td>
                            <td align="right">{{NuevasAsoc}}</td>

                            <td align="right">{{Venta}}</td>
                            <td align="center">{{statuspedido}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <br>
            <!-- Hijos del nivel 1 -->
            <table class="table table-bordered" style="table-layout: fixed;">
                <thead class="text-lead">
                    <tr>
                        <th width="10" class="code">Código</th>
                        <th width="15">Nombre</th>
                        <th width="15">Venta recibida</th>
                        <th width="15">Fecha llegada</th>
                        <th width="15">Hora llegada</th>
                        <th width="15">Medio llegada</th>
                        <th width="15">Estatus pedido</th>
                    </tr>
                </thead>
                <tbody  class="data-end" id="more{{header.0.Code}}">
                    {{#each detalles}}
                        <tr data-key="{{Code}}" data-nivelhijos="" class="nivel0 {{#if odd}}secondColor{{/if}}">
                            <td align="center">{{Code}}</td>
                            <td align="left">{{Nombre}}</td>
                            <td align="right">{{Venta}}</td>
                            <td align="center">{{HoraLlegada}}</td>
                            <td align="center">{{HoraLlegada}}</td>
                            <td align="center">{{MedioLlegada}}</td>
                            <td align="center">{{statuspedido}}</td>
                        </tr>
                        <tr id="{{Code}}">
                            <td colspan="7" style="padding:0;margin:0;"></td>
                        </tr>

                    {{/each}}
                
                </tbody>
                <tbody style="color: grey;">
                    <tr>
                        <td colspan="7" data-nivelhijos="0" data-key="{{header.0.Code}}" data-page="{{page}}" class="btnMas text-center">Mostrar más</td>
                    </tr>
                </tbody>
            </table>

