            <table class="table table-bordered" style="table-layout: fixed;">
                <thead class="text-lead">
                    <tr>
                        <th width="5" class="code" style="border-top-left-radius: 8px;">Código</th>
                        <th width="9">Nombre</th>
                        <th width="9">Localidad</th>

                        <th width="9">Venta Recibida</th>
                        <th width="5">Objetivo</th>
                        <th width="5">% Cumplimiento</th>

                        <th width="5">Distr. Registradas</th>
                        <th width="5">Distr. Activas</th>
                        <th width="5">Distr. Nuevas</th>
                        <th width="5">% Actividad</th>
                        <th width="9">Pedido Promedio</th>

                        <th width="5">Asociadas Registradas</th>
                        <th width="9">Pedidos Recibidos</th>
                        <th width="5">Asociadas Nuevas</th>
                        <th width="5">% Actividad Asociadas</th>
                        <th width="5" style="border-top-right-radius: 8px;">Orden Promedio</th>
                    </tr>
                </thead>
                <tbody class="data-head">

                    {{#each header}}
                    <tr data-key="ME00" data-nivelhijos="4" class="nivel5">
                        <td align="center">ME00</td>
                        <td align="left">{{Nombre}}</td>
                        <td align="left">{{Localidad}}</td>

                        <td align="right">{{Venta}}</td>
                        <td align="right">{{Objetivos}}</td>
                        <td align="center"><span class="{{prctColor}}">{{PctCumplido}}</span></td>

                        <td align="right">{{Registradas}}</td>
                        <td align="right">{{Activas}}</td>
                        <td align="right">{{NuevasDist}}</td>
                        <td align="center"><span>{{PctActividad}}</span></td>
                        <td align="right">{{PedidoPromedio}}</td>

                        <td align="right">{{AsociadasRegistradas}}</td>
                        <td align="right">{{Pedidos}}</td>
                        <td align="right">{{NuevasAsoc}}</td>
                        <td align="center">{{PorcActAsociadas}}</td>
                        <td align="right">{{OrdenPromedio}}</td>
                    </tr>
                    {{/each}}

                </tbody>

                <tbody class="data" id="moreME00">

                    {{#each detalles}}
                    <tr data-key="{{Code}}" data-nivelhijos="3" data-nivel="4" class="nivel4 {{#if odd}}secondColor{{/if}}">
                        <td class="details-control" align="center">{{Code}}</td>
                        <td align="left">{{Nombre}}</td>
                        <td align="left">{{Localidad}}</td>

                        <td align="right">{{Venta}}</td>
                        <td align="right">{{Objetivos}}</td>
                        <td align="center"><span class="{{prctColor}}">{{PctCumplido}}</span></td>

                        <td align="right">{{Registradas}}</td>
                        <td align="right">{{Activas}}</td>
                        <td align="right">{{NuevasDist}}</td>
                        <td align="center"><span>{{PctActividad}}</span></td>
                        <td align="right">{{PedidoPromedio}}</td>

                        <td align="right">{{AsociadasRegistradas}}</td>
                        <td align="right">{{Pedidos}}</td>
                        <td align="right">{{NuevasAsoc}}</td>
                        <td align="center">{{PorcActAsociadas}}</td>
                        <td align="right">{{OrdenPromedio}}</td>
                    </tr>
                    <tr id="{{Code}}">
                        <td colspan="16" style="padding:0;margin:0;"></td>
                    </tr>
                    {{/each}}
                
                </tbody>
                <tbody style="color: grey;">
                    <tr>
                        <td colspan="16" data-nivelhijos="4" data-key="ME00" data-page="{{page}}" class="btnMas text-center">Mostrar más</td>
                    </tr>
                </tbody>
            </table>