            <table class="table table-bordered" style="table-layout: fixed;">
                <thead class="text-lead">
                    <tr>
                        <th width="5" class="code" style="border-top-left-radius: 8px;">Código</th>
                        <th width="9">Nombre</th>
                        <th width="9">Localidad</th>

                        <th width="9">Venta Recibida</th>
                        <th width="5">Objetivo</th>
                        <th width="5">% Cumplimiento</th>

                        <th width="5">Distr. Registradas</th>
                        <th width="5">Distr. Activas</th>
                        <th width="5">Distr. Nuevas</th>
                        <th width="5">% Actividad</th>
                        <th width="9">Pedido Promedio</th>

                        <th width="5">Asociadas Registradas</th>
                        <th width="9">Pedidos Recibidos</th>
                        <th width="5">Asociadas Nuevas</th>
                        <th width="5">% Actividad Asociadas</th>
                        <th width="5" style="border-top-right-radius: 8px;">Orden Promedio</th>
                    </tr>
                </thead>
                <tbody class="data-subhead">
                    
                    {{#each header}}
                    <tr data-key="{{Code}}" data-nivelhijos="1" class="nivel2">
                        <td align="center">{{Code}}</td>
                        <td align="left">{{Nombre}}</td>
                        <td align="left">{{Localidad}}</td>

                        <td align="right">{{Venta}}</td>
                        <td align="right">{{Objetivos}}</td>
                        <td align="center"><span class="{{prctColor}}">{{PctCumplido}}</span></td>

                        <td align="right">{{Registradas}}</td>
                        <td align="right">{{Activas}}</td>
                        <td align="right">{{NuevasDist}}</td>
                        <td align="center"><span>{{PctActividad}}</span></td>
                        <td align="right">{{PedidoPromedio}}</td>

                        <td align="right">{{AsociadasRegistradas}}</td>
                        <td align="right">{{Pedidos}}</td>
                        <td align="right">{{NuevasAsoc}}</td>
                        <td align="center">{{PorcActAsociadas}}</td>
                        <td align="right">{{OrdenPromedio}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            
            <br>
            <!-- Hijos del nivel 2 -->
            <table class="table table-bordered" style="table-layout: fixed;">
                <thead class="text-lead">
                    <tr>
                        <th width="8" class="code">Código</th>
                        <th width="10">Nombre</th>

                        <th width="10">Venta Recibida</th>
                        <th width="8">Pedidos</th>
                        <th width="8">Orden Promedio</th>

                        <th width="10">Total Asociadas</th>
                        <th width="10">Asociadas Activas</th>
                        <th width="8">% Actividad</th>
                        <th width="8">Asociadas nuevas</th>

                        <th width="10">Saldo vencido</th>
                        <th width="10">Estatus pedido</th>
                    </tr>
                </thead>
                <tbody class="data-new" id="more{{header.0.Code}}">

                    {{#each detalles}}
                    <tr data-key="{{Code}}" data-nivelhijos="0" class="nivel1 {{#if odd}}secondColor{{/if}}" onclick="openNextLevel('{{Code}}')">
                        <td align="center">{{Code}}</td>
                        <td align="left">{{Nombre}}</td>

                        <td align="right">{{Venta}}</td>
                        <td align="right">{{Pedidos}}</td>
                        <td align="right">{{OrdenPromedio}}</td>

                        <td>{{SaldoTotal}}</td>
                        <td align="right">{{Activas}}</td>
                        <td align="center"><span>{{PctActividad}}</span></td>
                        <td align="right">{{NuevasAsoc}}</td>

                        <td align="right">{{Venta}}</td>
                        <td align="center">{{statuspedido}}</td>
                    </tr>
                    <tr id="{{Code}}">
                        <td colspan="11" style="padding:0;margin:0;"></td>
                    </tr>
                    {{/each}}

                </tbody>
                <tbody style="color: grey;">
                    <tr>
                          <td colspan="11" data-nivelhijos="1" data-key="{{header.0.Code}}"  data-page="{{page}}" class="btnMas text-center">Mostrar más</td>
                    </tr>
                </tbody>
            </table>






