
            <table class="table table-bordered">
                <thead class="text-lead">
                    <tr>
                        <th width="8" class="code">Código</th>
                        <th width="10">Nombre</th>

                        <th width="10">Venta Recibida</th>
                        <th width="8">Pedidos</th>
                        <th width="8">Orden Promedio</th>

                        <th width="10">Total Asociadas</th>
                        <th width="10">Asociadas Activas</th>
                        <th width="8">% Actividad</th>
                        <th width="8">Asociadas nuevas</th>

                        <th width="10">Saldo vencido</th>
                        <th width="10">Estatus pedido</th>
                    </tr>
                </thead>
                <tbody class="data-new" id="more{{header.0.Code}}">
                    {{#each detalles}}
                        <tr data-key="{{Code}}" data-nivelhijos="0" class="nivel1 {{#if odd}}secondColor{{/if}}" onclick="openNextLevel('{{Code}}')">
                            <td align="center">{{Code}}</td>
                            <td align="left">{{Nombre}}</td>

                            <td align="right">{{Venta}}</td>
                            <td align="right">{{Pedidos}}</td>
                            <td align="right">{{OrdenPromedio}}</td>

                            <td>{{SaldoTotal}}</td>
                            <td align="right">{{Activas}}</td>
                            <td align="center"><span>{{PctActividad}}</span></td>
                            <td align="right">{{NuevasAsoc}}</td>

                            <td align="right">{{Venta}}</td>
                            <td align="center">{{statuspedido}}</td>
                        </tr>
                        <tr id="{{Code}}">
                            <td colspan="11" style="padding:0;margin:0;"></td>
                        </tr>

                    {{/each}}

                </tbody>
                <tbody style="color: grey;">
                    <tr>
                        <td colspan="11" data-nivelhijos="1" data-key="{{header.0.Code}}"  data-page="{{page}}" class="btnMas text-center">Mostrar más</td>
                    </tr>
                
                </tbody>
            </table>