            <table class="table table-bordered" style="table-layout: fixed;">
                <thead style="height:0; display:none;">
                    <tr style="height:0;">
                        <th width="5"></th>
                        <th width="9" ></th>
                        <th width="9" ></th>

                        <th width="9" ></th>
                        <th width="5" ></th>
                        <th width="5" ></th>

                        <th width="5" ></th>
                        <th width="5" ></th>
                        <th width="5" ></th>
                        <th width="5" ></th>
                        <th width="9" ></th>

                        <th width="5" ></th>
                        <th width="9" ></th>
                        <th width="5" ></th>
                        <th width="5" ></th>
                        <th width="5" ></th>
                    </tr>
                </thead>
                <tbody class="data" id="more{{header.0.Code}}">

                    {{#each detalles}}
                    <tr data-key="{{Code}}" data-nivelhijos="2" class="nivel3 {{#if odd}}secondColor{{/if}}">
                        <td class="details-control" align="center">{{Code}}</td>
                        <td align="left">{{Nombre}}</td>
                        <td align="left">{{Localidad}}</td>

                        <td align="right">{{Venta}}</td>
                        <td align="right">{{Objetivos}}</td>
                        <td align="center"><span class="{{prctColor}}">{{PctCumplido}}</span></td>

                        <td align="right">{{Registradas}}</td>
                        <td align="right">{{Activas}}</td>
                        <td align="right">{{NuevasDist}}</td>
                        <td align="center"><span>{{PctActividad}}</span></td>
                        <td align="right">{{PedidoPromedio}}</td>

                        <td align="right">{{AsociadasRegistradas}}</td>
                        <td align="right">{{Pedidos}}</td>
                        <td align="right">{{NuevasAsoc}}</td>
                        <td align="center">{{PorcActAsociadas}}</td>
                        <td align="right">{{OrdenPromedio}}</td>
                    </tr>
                    <tr id="{{Code}}">
                        <td colspan="16" style="padding:0;margin:0;"></td>
                    </tr>
                    {{/each}}
                
                </tbody>
                <tbody style="color: grey;">
                    <tr>
                        <td colspan="16" data-nivelhijos="3" data-key="{{header.0.Code}}" data-page="{{page}}" class="btnMas text-center">Mostrar más</td>
                    </tr>
                </tbody>
            </table>