
            <table class="table table-bordered">
                <thead class="text-lead">
                    <tr>
                        <th width="10" class="code">Código</th>
                        <th width="15">Nombre</th>
                        <th width="15">Venta recibida</th>
                        <th width="15">Fecha llegada</th>
                        <th width="15">Hora llegada</th>
                        <th width="15">Medio llegada</th>
                        <th width="15">Estatus pedido</th>
                    </tr>
                </thead>
                <tbody  class="data-new" id="more{{header.0.Code}}">
                    
                    {{#each detalles}}
                        <tr data-key="{{Code}}" data-nivelhijos="" class="nivel0 {{#if odd}}secondColor{{/if}}">
                            <td align="center">{{Code}}</td>
                            <td align="left">{{Nombre}}</td>
                            <td align="right">{{Venta}}</td>
                            <td align="center">{{HoraLlegada}}</td>
                            <td align="center">{{HoraLlegada}}</td>
                            <td align="center">{{MedioLlegada}}</td>
                            <td align="center">{{statuspedido}}</td>
                        </tr>
                    {{/each}}
                
                </tbody>
                <tbody style="color: grey;">
                    <tr>
                        <td colspan="7" data-nivelhijos="0" data-key="{{header.0.Code}}" data-page="{{page}}" class="btnMas text-center">Mostrar más</td>
                    </tr>
                </tbody>
            </table>