
        {{#each detalles}}
            <tr data-key="{{Code}}" data-nivelhijos="1" class="nivel2 {{#if odd}}secondColor{{/if}}" onclick="openNextLevel('{{Code}}')">
                <td align="center">{{Code}}</td>
                <td align="left">{{Nombre}}</td>
                <td align="left">{{Localidad}}</td>

                <td align="right">{{Venta}}</td>
                <td align="right">{{Objetivos}}</td>
                <td align="center"><span class="{{prctColor}}">{{PctCumplido}}</span></td>

                <td align="right">{{Registradas}}</td>
                <td align="right">{{Activas}}</td>
                <td align="right">{{NuevasDist}}</td>
                <td align="center"><span>{{PctActividad}}</span></td>
                <td align="right">{{PedidoPromedio}}</td>

                <td align="right">{{AsociadasRegistradas}}</td>
                <td align="right">{{Pedidos}}</td>
                <td align="right">{{NuevasAsoc}}</td>
                <td align="center">{{PorcActAsociadas}}</td>
                <td align="right">{{OrdenPromedio}}</td>
            </tr>
            <tr>
                <td colspan="16" id="{{Code}}" style="padding:0;margin:0;"></td>
            </tr>
        {{/each}}
