
        {{#each detalles}}
            <tr data-key="{{Code}}" data-nivelhijos="" class="nivel0 {{#if odd}}secondColor{{/if}}">
                <td align="center">{{Code}}</td>
                <td align="left">{{Nombre}}</td>
                <td align="right">{{Venta}}</td>
                <td align="center">{{HoraLlegada}}</td>
                <td align="center">{{HoraLlegada}}</td>
                <td align="center">{{MedioLlegada}}</td>
                <td align="center">{{statuspedido}}</td>
            </tr>
            <tr>
                <td colspan="7" id="{{Code}}" style="padding:0;margin:0;"></td>
            </tr>
        {{/each}}
