
        {{#each detalles}}
            <tr data-key="{{Code}}" data-nivelhijos="0" class="nivel1 {{#if odd}}secondColor{{/if}}" onclick="openNextLevel('{{Code}}')">
                <td align="center">{{Code}}</td>
                <td align="left">{{Nombre}}</td>

                <td align="right">{{Venta}}</td>
                <td align="right">{{Pedidos}}</td>
                <td align="right">{{OrdenPromedio}}</td>

                <td>{{SaldoTotal}}</td>
                <td align="right">{{Activas}}</td>
                <td align="center"><span>{{PctActividad}}</span></td>
                <td align="right">{{NuevasAsoc}}</td>

                <td align="right">{{Venta}}</td>
                <td align="center">{{statuspedido}}</td>
            </tr>
            <tr>
                <td colspan="11" id="{{Code}}" style="padding:0;margin:0;"></td>
            </tr>
        {{/each}}
